@use "../config/" as *;

.u-font__uppercase {
  text-transform: uppercase;
}
.u-font-small {
  color: #6b7280;
  font-size: rm(11);
  font-weight: 300;
  line-height: 1.6;
}

.u-font-size-large {
  font-size: rm(28);
}

.u-font-color--accent-pink {
  color: $text-accent-pink !important;
  font-weight: 700;
}
.u-font-color--accent-yellow {
  color: $text-accent-yellow !important;
}

.u-font--attention {
  text-align: center;
  font-size: rm(10);
  font-weight: 400;
  line-height: 1.6;
  color: $text-light-gray;
}

.u-font--attention--left {
  text-align: left;
}

.u-font-squire {
  border-radius: rm(2);
  border: rm(0.5) solid $accent-pink;
  background: #fff;
  color: $text-accent-pink;
  font-weight: 700;
  padding-inline: rm(2);
}
