@use "../config/" as *;

.l-footer {
}

.l-footer__inner {
  padding-block: rm(38) rm(32);
}

.l-footer__container {
  display: flex;
  gap: rm(50);
  color: $text-light-gray;
  font-size: rm(12);
  font-weight: 400;
  line-height: 1.6;
  justify-content: center;
  align-items: center;
}

.l-footer__item {
  &:first-child {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 73%;
      width: rm(1);
      right: rm(-25);
      top: 50%;
      translate: 0 -50%;
      background-color: $text-light-gray;
    }
  }
}

.l-footer__link {
}

.l-footer__copyright {
  display: inline-block;
  width: 100%;
  margin-block-start: rm(11);
  text-align: center;
  color: $text-light-gray;
  font-size: rm(12);
  font-weight: 400;
  line-height: 1.6;
}
