@use "../config/" as *;
.p-benefit {
}

.p-benefit__head {
  position: relative;
  height: rm(249);
  margin-block-start: rm(-85);
  z-index: 2;
}

.p-benefit__head-bg {
  position: absolute;
  inset: 0;
}

.p-benefit__head-text {
  padding-block-start: rm(30);
  position: absolute;
  top: rm(40);
  left: 50%;
  translate: -50%;
  color: $text-white;
  font-family: $ff-mincho;
  font-size: rm(20);
  font-weight: 800;
  line-height: 1;
  width: 100%;
  text-align: center;
}

.p-benefit__head-text--accent {
  font-size: rm(32);
  position: relative;
  display: inline-block;
  line-height: 1.85;
  &::after {
    content: "";
    position: absolute;
    background: url("../img/dec_line.svg") center / contain no-repeat;
    width: 100%;
    height: auto;
    inset: 0;
    top: rm(44);
  }
}

.p-benefit__inner {
  background: #ffe1e1;
  padding-block: rm(64) rm(40);
  margin-block-start: rm(-63);
}

.p-benefit__list {
  margin-block: rm(50) rm(32);
  display: flex;
  flex-direction: column;
  gap: rm(64);
}

.p-benefit__item {
}
