@use "../config/" as *;
.p-benefit {
  background: #ffe1e1;
  padding-block-end: rm(41);
}

.p-benefit__head {
  position: relative;
  height: rm(249);
}

.p-benefit__head-bg {
  position: absolute;
  inset: 0;
}

.p-benefit__head-text {
  position: absolute;
  top: rm(40);
  left: 50%;
  translate: -50%;
  color: $text-white;
  font-family: $ff-mincho;
  font-size: rm(20);
  font-weight: 800;
  line-height: 1.85;
  width: 100%;
  text-align: center;
}

.p-benefit__head-text--accent {
  font-size: rm(32);
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background: url("../img/dec_line.svg");
  }
}

.p-benefit__inner {
}

.p-benefit__list {
  margin-block: rm(50) rm(32);
  display: flex;
  flex-direction: column;
  gap: rm(64);
}

.p-benefit__item {
}
