@use "../config/" as *;

.p-credibility {
  background: #fff7f8;
  padding-block-end: rm(30);
}

.p-credibility__head {
  position: relative;
  height: rm(186);
}

.p-credibility__head-bg {
  position: absolute;
  inset: 0;
}

.p-credibility__head-text {
  position: absolute;
  top: rm(40);
  left: 50%;
  translate: -50%;
  color: $text-white;
  font-family: $ff-mincho;
  font-size: rm(22);
  font-weight: 800;
  line-height: 1.17;
  width: 100%;
  text-align: center;
}

.p-credibility__inner {
}

.p-credibility__content {
  padding: rm(31) rm(16);
  border-radius: rm(12);
  background: #fff;
  box-shadow: rm(2) rm(2) rm(11) 0 rgba(222, 188, 192, 0.4);
}

.p-credibility__name-group {
  display: flex;
  gap: rm(4);
  flex-direction: column;
}

.p-credibility__name-text {
  width: fit-content;
  margin-inline: auto;
  display: inline-block;
  color: $text-white;
  font-size: rm(18);
  font-weight: 700;
  line-height: 1.8;
  padding-inline: rm(10);
  border-radius: rm(5);
  background: $accent-pink-light;
}

.p-credibility__icon {
  padding-block-start: rm(7);
  margin-inline: auto;
  width: rm(193);
}

.p-credibility__text {
  color: $text-main-2;
  font-weight: 350;
  line-height: 2.2;
}

.p-credibility__text + .p-credibility__text {
  padding-block-start: rm(18);
}
