@use "../config/" as *;

.p-faq {
}

.l-inner {
}

.p-faq__inner {
}

.p-faq__head {
  color: #fff;
  text-align: center;
  font-family: $ff-mincho;
  font-size: rm(22);
  font-weight: 800;
  line-height: 2.8;
  padding-block: rm(26) rm(31);
  background: $accent-pink;
}

.p-faq__container {
  padding-block: rm(40);
  background: #ffe1e1;
}

.p-faq__item {
}

.js-details {
}

.js-summary {
}

.p-faq__question {
}

.p-faq__question-text {
}

.js-content {
}

.p-faq__answer {
}

.p-faq__answer-text {
}
