.p-feature {
}

.p-feature__head {
  width: 427px;
  height: 93px;
  transform: rotate(-2.858deg);
  flex-shrink: 0;
}

.p-feature__bg {
  position: absolute;
  inset: 0;
  z-index: -1;
}


.p-feature__inner {
}

.p-feature__description {
}

.p-feature__description--1 {
}

.p-feature__contents {
}

.p-feature__text-wrap {
}

.p-feature__image {
}

.p-feature__description--2 {
}

.p-feature__description--3 {
}

.p-feature__description--4 {
}

.p-feature__description--5 {
}

.p-feature__description--6 {
}

.p-feature__description--7 {
}
.p-feature__image--top {
}

.p-feature__image--sp {
}
