@use "../config/" as *;

.p-insight {
  position: relative;
  padding-block: rm(40);
}

.p-insight__bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  height: 100%;
}

.p-insight__inner {
  position: relative;
}
.p-insight__but {
  position: absolute;
  border-radius: rm(7);
  top: rm(-14);
  left: 50%;
  translate: -50%;
  background: $accent-pink-light;
  color: $text-white;
  text-align: center;
  font-family: $ff-mincho;
  font-size: rm(24);
  font-weight: 700;
  line-height: 1.16;

  &::before {
    content: "";
    position: absolute;
    width: rm(33);
    height: rm(18);
    background: url(../img/dec_but-tri.svg) no-repeat center/contain;
    left: 50%;
    translate: -50%;
    bottom: rm(-9);
  }
}

.p-insight__container {
  border-radius: rm(2);
  background: #fff;
  text-align: center;
  padding-inline: rm(5);
}

.p-insight__head {
  position: relative;
  z-index: 1;
  font-family: "$ff-mincho";
  font-size: rm(24);
  font-weight: 700;
  line-height: 0.94; /* 94.792% */
  background: rgba(250, 146, 167, 0.6);
  padding-inline: rm(8);
}

.p-insight__description {
  color: $text-main-2;
  font-size: rm(14);
  font-weight: 500;
  line-height: 1.62;
}
.p-insight__description + .p-insight__description {
  margin-block-start: rm(12);
}

.p-insight__description--1 {
  span {
    font-size: rm(12);
  }
}

.p-insight__description--2 {
}
.p-insight__description--3 {
}
.p-insight__description--4 {
}

.p-insight__image {
  border-radius: rm(2);
  filter: blur(rm(2));
  aspect-ratio: 300/200;
  width: rm(300);
  margin-inline: auto;
}

.p-insight__description--5 {
  margin-block-start: rm(12);
}

.p-insight__flow {
  margin-inline: auto;
}
