@use "../config/" as *;

.p-insight {
  position: relative;
  padding-block: rm(40);
}

.p-insight__bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  height: 100%;
}

.p-insight__inner {
  position: relative;
  margin-block-end: rm(-30);
}
.p-insight__but {
  position: absolute;
  border-radius: rm(7);
  top: rm(-18.5);
  left: 50%;
  translate: -50%;
  background: $accent-pink-light;
  color: $text-white;
  text-align: center;
  font-family: $ff-mincho;
  font-size: rm(24);
  font-weight: 700;
  line-height: 1.16;
  padding: rm(5) rm(15);

  &::before {
    content: "";
    position: absolute;
    width: rm(33);
    height: rm(18);
    background: url(../img/dec_but-tri.svg) no-repeat center/contain;
    left: 50%;
    translate: -50%;
    bottom: rm(-9);
    z-index: -1;
  }
}

.p-insight__container {
  border-radius: rm(2);
  background: #fff;
  text-align: center;
  padding-inline: rm(5);
  padding-block: rm(32) rm(45);
}

.p-insight__head {
  position: relative;
  z-index: 1;
  font-family: $ff-mincho;
  font-size: rm(24);
  font-weight: 700;
  line-height: 0.94; /* 94.792% */
  margin-inline: rm(20);

  &::before {
    content: "";
    width: 100%;
    height: 46%;
    background: rgba(250, 146, 167, 0.6);
    position: absolute;
    left: 0;
    bottom: rm(-6);
    right: 0;
    z-index: -1;
  }
}

.p-insight__description {
  color: $text-main-2;
  font-size: rm(14);
  font-weight: 500;
  line-height: 1.62;
}
.p-insight__description + .p-insight__description {
  margin-block-start: rm(24);
}

.p-insight__description--1 {
  padding-block-start: rm(36);
  span {
    font-size: rm(12);
    font-weight: 500;
  }
}

.p-insight__description--2 {
}
.p-insight__description--3 {
}
.p-insight__description--4 {
}

.p-insight__image {
  position: relative;
  border-radius: rm(2);
  aspect-ratio: 300/200;
  width: rm(300);
  margin-inline: auto;
  margin-block-start: rm(12);
  border-radius: rm(2);
  overflow: hidden;
  outline: rm(3) solid #fff;
  outline-offset: rm(-2);

  &::after {
    position: absolute;
    content: "";
    inset: 0;
    -moz-box-shadow: inset 0px 0px rm(5) rm(5) #fff;
    -webkit-box-shadow: inset 0px 0px rm(5) rm(5) #fff;
    box-shadow: inset 0px 0px rm(5) rm(5) #fff;
  }
}

.p-insight__description--5 {
  margin-block-start: rm(18);
}

.p-insight__flow {
  margin-inline: auto;
  margin-block-start: rm(19);
}
.p-insight__description--6 {
  margin-block-start: rm(29);
}

.p-insight__description--7 {
  font-size: rm(23);
  margin-block-start: rm(24);
}
.p-insight__description--7 + .p-insight__description--8 {
  margin-block-start: rm(5);
}
