@use "../config/" as *;

.p-problem {
  background: #ececec;
  padding-block-end: rm(44);
}

.p-problem__inner {
  position: relative;
}

.p-problem__head {
  background: rgba(31, 31, 31, 0.7);
  color: #fff;
  text-align: center;
  text-shadow: 0 0 rm(8) #000, 0 0 rm(8) #000;
  font-family: $ff-mincho;
  font-size: rm(20);
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: center;
  width: fit-content;
  display: inline-block;
  padding-inline: rm(10);
  span {
    font-size: rm(30);
  }
}

.p-problem__head-description {
  letter-spacing: 0.03em;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 rm(2) rgba(0, 0, 0, 0.8), 0 0 8px rgba(0, 0, 0, 0.6);
  font-family: $ff-mincho;
  font-size: rm(19);
  font-weight: 700;
  line-height: 1; /* 100% */
  white-space: nowrap;

  em {
    font-size: rm(29);
  }
  span {
    font-size: rm(16);
  }
}

.p-problem__head-bg {
  position: absolute;
  inset: 0;
  z-index: -1;
}
