@use "../config/" as *;

.p-problem {
  background: #ececec;
  padding-block-end: rm(44);
}

.p-problem__inner--top {
  position: relative;
  z-index: 0;
  height: rm(437);
}

.p-problem__head {
  color: #fff;
  text-align: center;
  text-shadow: 0 0 rm(8) #000, 0 0 rm(8) #000;
  font-family: $ff-mincho;
  font-size: rm(20);
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: center;
  width: fit-content;
  display: inline-block;
  padding-inline: rm(10);
  z-index: 1;
  position: relative;
  margin-inline: auto;
  margin-block-start: rm(40);
  span {
    font-size: rm(30);
  }

  &::before {
    content: "";
    width: 100%;
    height: 50%;
    background: rgba(31, 31, 31, 0.7);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.p-problem__head-description {
  letter-spacing: 0.03em;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 rm(2) rgba(0, 0, 0, 0.8), 0 0 8px rgba(0, 0, 0, 0.6);
  font-family: $ff-mincho;
  font-size: rm(19);
  font-weight: 700;
  line-height: 1.4;
  white-space: nowrap;
  margin-block-start: rm(20);

  em {
    font-size: rm(29);
  }
  span {
    font-size: rm(16);
  }
}

.p-problem__head-bg {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.p-problem__inner--under {
  padding-block-start: rm(7);
  padding-block-end: rm(40);
  position: relative;
  z-index: 0;
}
.p-problem__container {
  position: relative;
  border-radius: rm(2);
  background: #fff;
  padding-block: rm(33) rm(48.25);
  z-index: 2;
}

.p-problem__image {
  width: rm(98);
  height: rm(135);
  position: absolute;
  top: rm(80);
  right: rm(-10);
  text-align: center;
}
.p-problem__text-wrap {
  display: flex;
  gap: rm(4);
  flex-direction: column;
}
.p-problem__text {
  width: fit-content;
  font-family: $ff-mincho;
  margin-inline: auto;
  display: inline-block;
  color: $text-white;
  font-size: rm(22);
  font-weight: 700;
  line-height: 1.63;
  padding-inline: rm(10);
  border-radius: rm(8);
  background: #4b5563;
}

.p-problem__description-1 {
  color: $text-main-2;
  font-weight: 500;
  line-height: 1.62;

  &--1 {
    margin-block-start: rm(31);
  }

  &--2 {
    font-weight: 700;
    margin-block-start: rm(26.5);
  }
  &--3 {
    position: relative;
    font-weight: 700;
    margin-block-start: rm(21);
    background: linear-gradient(transparent 0%, rgba(255, 218, 231, 0.44) 0%);
    color: $accent-pink;
    font-size: rm(19);
    font-weight: 700;
    line-height: 1.25;
    padding-inline-start: rm(35);

    &::before {
      content: "";
      position: absolute;
      width: rm(33);
      height: rm(2);
      top: 50%;
      translate: 0 -50%;
      left: 0;
      background: $accent-pink;
    }
  }
  &--4 {
    margin-block-start: rm(16);
  }
  &--5 {
    margin-block-start: rm(20);
  }
  &--6 {
    margin-block-start: rm(20);
    font-weight: 700;
  }
  &--7 {
    margin-block-start: rm(26);
  }
}
