@use "../config/" as *;

.p-problem {
  background: #ececec;
  padding-block-end: rm(44);
}

.p-problem__inner--top {
  position: relative;
  z-index: 0;
  height: rm(437);
}

.p-problem__head {
  color: #fff;
  text-align: center;
  text-shadow: 0 0 rm(8) #000, 0 0 rm(8) #000;
  font-family: $ff-mincho;
  font-size: rm(20);
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: center;
  width: fit-content;
  display: inline-block;
  padding-inline: rm(10);
  z-index: 1;
  position: relative;
  left: 50%;
  translate: -50%;
  margin-block-start: rm(40);
  span {
    font-size: rm(30);
  }

  &::before {
    content: "";
    width: 100%;
    height: 50%;
    background: rgba(31, 31, 31, 0.7);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.p-problem__head-description {
  letter-spacing: 0.03em;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 rm(2) rgba(0, 0, 0, 0.8), 0 0 8px rgba(0, 0, 0, 0.6);
  font-family: $ff-mincho;
  font-size: rm(19);
  font-weight: 700;
  line-height: 1.4; /* 100% */
  white-space: nowrap;
  margin-block-start: rm(20);

  em {
    font-size: rm(29);
  }
  span {
    font-size: rm(16);
  }
}

.p-problem__head-bg {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.p-problem__inner--under {
  padding-block-start: rm(7);
  padding-block-end: rm(40);
}
