@use "../config/" as *;

.p-voice {
  background: #ffe1e1;
}

.p-voice__head {
  padding-block: rm(16) rm(23);
  background: $accent-pink;
  color: $text-white;
  position: relative;
  text-align: center;
  font-size: rm(28);
  font-weight: 800;
  font-family: $ff-mincho;
  line-height: 1;
  z-index: 1;
  span {
    font-size: rm(16);
  }
  &::before {
    content: "";
    position: absolute;
    width: rm(66);
    height: rm(34);
    background: url("../img/dec_voice-tri.svg") no-repeat center/contain;
    bottom: rm(-15);
    left: 50%;
    translate: -50%;
  }
  &::after {
    content: "";
    position: absolute;
    width: rm(34);
    height: rm(8);
    background: url("../img/dec_voice-line.svg") no-repeat center/contain;
    bottom: rm(-15);
    right: rm(15);
    right: rm(81);
    bottom: rm(16);
    z-index: -1;
  }
}

.p-voice__inner {
  padding-block: rm(15) rm(29);
}

.p-voice__attention {
  display: block;
}

.p-voice__list {
  padding-block-start: rm(20);
  display: flex;
  flex-direction: column;
  gap: rm(24);
}

.p-voice__item {
}

.p-voice__image {
  width: rm(368);
}
