@use "../config/" as *;

.c-cta {
  display: flex;
  flex-direction: column;
  gap: rm(10);
}

.c-cta__container {
  border-radius: rm(12);
  background: #fff;
  box-shadow: 0 rm(10) rm(15) rm(-3) rgba(0, 0, 0, 0.1),
    0 rm(4) rm(6) rm(-4) rgba(0, 0, 0, 0.1);
  padding-inline: rm(14);
  padding-block-end: rm(16);
  display: flex;
  flex-direction: column;
  row-gap: rm(19);
  font-family: $ff-mincho;
}

.c-cta__head {
  border-radius: rm(13) rm(13) 0 0;
  color: $text-white;
  text-align: center;
  font-size: rm(20);
  font-weight: 800;
  line-height: 1;
  background: $accent-pink-light;
  padding-block: rm(10) rm(14);
  margin-inline: rm(-14);
}

.c-cta__price-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rm(2);
}

.c-cta__normal-wrap {
  display: flex;
}

.c-cta__normal {
  display: flex;
  flex-direction: column;
  padding: rm(6) rm(16);
  border: rm(1) solid $accent-pink-light;
  color: #6b7280;
  text-align: center;
  font-weight: 400;
}

.c-cta__normal-text {
  font-size: rm(12);
  line-height: 1.3;
}

.c-cta__normal-amount {
  font-size: rm(27);
  line-height: 1.03;
  del {
    position: relative;
    text-decoration: none;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: rm(2);
      transform: rotate(-10deg);
      left: 0;
      top: 50%;
      translate: 0 -50%;
      background: $accent-pink-light;
    }
  }
}
.c-cta__normal-unit {
  font-size: rm(15);
}

.c-cta__normal-now {
  color: $text-white;
  font-size: rm(12);
  font-weight: 700;
  background: $accent-pink-light;
  padding-inline: rm(4) rm(10);
  clip-path: polygon(0% 0%, 70% 0, 100% 50%, 70% 100%, 0% 100%);
  // 境界線を重ねるため、左側のボーダーだけを親要素のボーダーと被せる
  border-block: rm(1) solid $accent-pink-light; // 上下ボーダー
  border-right: rm(1) solid $accent-pink-light; // 右ボーダー
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-cta__limited {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $text-accent-pink;
  align-items: center;
}

.c-cta__limited-text {
  font-size: rm(12);
  font-weight: 700;
  line-height: 1.33;
}

.c-cta__limited-amount {
  font-size: rm(36);
  font-weight: 700;
  line-height: 0.88;
}
.c-cta__limited-unit {
  font-size: rm(20);
  font-weight: 700;
}

.c-cta__link {
  position: relative;
  border-radius: 9999px;
  background: linear-gradient(180deg, #76c171 0%, #3a8e1a 100%);
  box-shadow: 0 rm(5) rm(6) 0 rgba(0, 0, 0, 0.2),
    0 rm(4) rm(6) 0 rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  color: $text-white;
  font-size: rm(16);
  font-weight: 700;
  line-height: 1.37;
  padding: rm(8) rm(36);
  font-family: $ff;
  width: 100%;
  &:focus-visible {
    opacity: 0.6;
  }
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.6;
    }
  }

  span {
    display: inline-block;
    font-weight: 700;
  }
}

.c-cta__link-icon {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: rm(14);
  width: rm(10);
  height: rm(10);
}

.c-cta__attention {
  color: $text-light-gray;
  text-align: center;
  font-size: rm(12);
  line-height: 1.62;
}
